<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchForBook</servlet-name>
    <servlet-class>Servlets.SearchForBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForBook</servlet-name>
    <url-pattern>/SearchForBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBorrower</servlet-name>
    <servlet-class>Servlets.AddBorrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBorrower</servlet-name>
    <url-pattern>/AddBorrower</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOutBook</servlet-name>
    <servlet-class>Servlets.CheckOutBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutBook</servlet-name>
    <url-pattern>/CheckOutBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckInBook</servlet-name>
    <servlet-class>Servlets.CheckInBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInBook</servlet-name>
    <url-pattern>/CheckInBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckInUpdate</servlet-name>
    <servlet-class>Servlets.CheckInUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInUpdate</servlet-name>
    <url-pattern>/CheckInUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefreshFines</servlet-name>
    <servlet-class>Servlets.RefreshFines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshFines</servlet-name>
    <url-pattern>/RefreshFines</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayFine</servlet-name>
    <servlet-class>Servlets.PayFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayFine</servlet-name>
    <url-pattern>/PayFine</url-pattern>
  </servlet-mapping>
</web-app>